{%extends 'base.html'%}
<!--Navigation bar-->
{%block navbar%}{%include 'nav.html'%}{%endblock%}

{%block content%}
<!-- projects section -->
<section class="project1-section container">
    <div class="project1-section">
        <img
                class="prompt-engineering-project-img"
                src="./static/assets/resources/prompt_engineering/doginraincoatmanaquin.jpg"
        />
    </div>
    <div class="project1-description">
        <p>
            <em
            >This project was created for a marketing class where we designed a
                product for a fictitious business. For this capstone project, I
                utilized prompt engineering tactics to showcase the product on a
                mannequin dog.</em
            >
        </p>
    </div>
</section>

<section class="project2-section container">
    <div class="project2-description">
        <p>
            <em
            >I designed this holiday-style pricing table using CSS, and its
                flexbox system.</em
            >
        </p>
        <a href="https://tfr25.github.io/Pricing-Table-Flexbox/"
        >Click to view in web browser.</a
        >
    </div>
    <div>
        <img
                class="project2-img1"
                src="./resources/flexbox _pricing_table/flexbox_pricing_table_verticle.png"
        />
    </div>
    <div>
        <img
                class="project2-img2"
                src="./static/assets/resources/flexbox _pricing_table/flexbox_pricing_table_horizontal.png"
        />
    </div>
</section>

<section class="project3-section container">
    <div>
        <img
                class="project3-img"
                src="./static/assets/resources/seashoreHotel/hotelParadise.png"
        />
    </div>
    <div>
        <img
                class="project3-img"
                src="./static/assets/resources/seashoreHotel/propertyHighlights.png"
        />
    </div>
    <div>
        <img
                class="project3-img"
                src="./static/assets/resources/seashoreHotel/registerToday.png"
        />
    </div>
</section>

<section class="project3-description container">
    <div>
        <p>
            <em
            >This design was created using Canva for a fictitious hotel website.
            </em>
        </p>
    </div>
    <div class="website-link">
        <a href="https://seashorehotel.my.canva.site/seashorehotel"
        >Visit site</a
        >
    </div>
</section>

<section class="project4-section container">
    <div class="project4-description">
        <p>
            <em
            >This design was created using css flexbox system. The image was
                taken by me while visiting the island of Maui in Hawaii.</em
            >
        </p>
        <a href="https://tfr25.github.io/Motivational_Poster/"
        >Click to share</a
        >
    </div>
    <div>
        <img
                class="project4-img"
                src="./static/assets/resources/motivational_poster/motivational_poster_project.png"
        />
    </div>
</section>
{%endblock%}

<!--Footer section-->
{%block footer%}{%include 'footer.html'%}{%endblock%}