{%extends 'base.html'%}
<!--Navigation bar-->
{%block navbar%}{%include 'nav.html'%}{%endblock%}
<!--Projects section-->
{%block content%}
<section id="resume">
    <section class="container pt-3 col-lg-6">
        <div class="row">
            <div>
                <h1>
                    <img
                            class="profile-img"
                            src="./static/assets/profileImage_logo/HeadShot.jpg"
                            alt="Authors profile image"
                    /><br>
                    Tasha Fernandez-Ross <br> <span style="font-size: 1.6rem">Full-Stack Web Developer</span>
                </h1>
            </div>
        </div>
    </section>

    <section class="container pt-3 col-lg-6">
        <h2>Objective:</h2>
        <p>
            I am a detail-oriented team player with strong organizational skills. I
            can handle multiple projects simultaneously with a high degree of
            accuracy. My organized and dependable personality makes me successful
            when managing multiple projects with a positive attitude. I am always
            willing to take on added responsibilities to meet team goals. As a
            hardworking and passionate individual with strong organizational skills,
            I am eager to join your team as an entry-level full-stack software
            engineer. I am ready to help the team achieve company goals.
        </p>
    </section>
    <div class="container pt-3 col-lg-6">
        <h2>Work Experience</h2>
    </div>
    <section class="container pt-3 col-lg-6">
        <div>
            <ul>
                <li>
                    HCR ManorCare - Salmon Creek
                    <ul>
                        <li>Physical Therapist Assistant</li>
                        <li>January 2011-September 2021</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <ul>
                <li>
                    University of Hawaii-Hilo, Kinesiology and Exercise Science
                    Laboratory
                    <ul>
                        <li>Laboratory Technician</li>
                        <li>2005-2009</li>
                    </ul>
                </li>
            </ul>
        </div>

        <div>
            <ul>
                <li>
                    The Historic Palace Theater
                    <ul>
                        <li>Manager</li>
                        <li>May 2000-June 2009</li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>

    <section id="education" class="container pt-3 col-lg-6">
        <h2>Education</h2>
        <ul>
            <li>
                October 2021-October 2023, Bachelor of Science, Computer Information
                Systems, Saint Leo University, Florida <br/>- Graduated Magna Cum
                Laude
            </li>
            <li>
                2009-2011, Associate in Science, Physical Therapist Assistant, Green
                River Community College, WA <br/>
                - Graduated Magna Cum Laude
            </li>
            <li>
                2004-2008, Bachelor of Arts, Kinesiology and Exercise Science,
                University of Hawaii-Hilo
            </li>
            <li>
                2001-2004, associate in arts, Liberal Arts with Honors, Hawaii
                Community College
            </li>
        </ul>
    </section>

    <section id="skills" class="container pt-3 col-lg-6">
        <h2>Skills</h2>
        <div class="column">
            <li class="skills-list">Python</li>
            <li class="skills-list">HTML</li>
            <li class="skills-list">CSS</li>
            <li class="skills-list">JavaScript</li>
        </div>
        <div class="column">
            <li class="skills-list">Pandas</li>
            <li class="skills-list">Data Management</li>
            <li class="skills-list">GIT</li>
            <li class="skills-list">GitHub</li>
        </div>
        <div class="column">
            <li class="skills-list">SQL</li>
            <li class="skills-list">MySQL</li>
            <li class="skills-list">Flask</li>
            <li class="skills-list">bootstrap</li>
        </div>
        <div class="column">
            <li class="skills-list">Figma</li>
            <li class="skills-list">Canva</li>
            <li class="skills-list">Frontend Web Development</li>
            <li class="skills-list">Backend Web Development</li>
        </div>
    </section>
    <section id="certifications" class="container pt-3 col-lg-6">
        <h2>Certifications</h2>
        <li>
            <a
                    class="skills-link"
                    href="https://www.credly.com/badges/04fb0183-024a-496b-be0a-d76d61f7e662/public_url"
            >Certified in Cybersecurity CC, ISC2</a
            >
            <ul>
                <li>
                    Expires: November 2026
                    <ul>
                        <li>
                            Relevant Skills:
                            <ul>
                                <li class="skills-list">Access controls concepts</li>
                                <li class="skills-list">Security operations</li>
                                <li class="skills-list">Network security</li>
                                <li class="skills-list">Security principles</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </section>

    <section id="accomplishments" class="container pt-3 col-lg-6">
        <h2>Accomplishments</h2>
        <ul>
            <li class="skills-list">Champion of caring (patient care)</li>
            <li class="skills-list">Safety Champ</li>
            <li class="skills-list">Employee of the month (numerous occasions)</li>
        </ul>
    </section>

    <section id="profiles" class="container pt-3 col-lg-6">
        <h2>Profiles</h2>
        <ul>
            <li>
                <a class="skills-link" href="https://github.com/TFR25">GitHub</a>
            </li>
            <li>
                <a
                        class="skills-link"
                        href="https://www.linkedin.com/in/tasha-fernandez-ross/"
                >LinkedIn</a
                >
            </li>
        </ul>
    </section>

    <section id="interests" class="container pt-3 col-lg-6">
        <h2>Interests</h2>
        <ul>
            <li class="interests-list">Traveling</li>
            <li class="interests-list">Fitness</li>
            <li class="interests-list">Reading</li>
            <li class="interests-list">Self-Improvement</li>
            <li class="interests-list">Learning new skills</li>
        </ul>
    </section>

    <section class="container pt-3 col-lg-6">
        <p>
            <a class="skills-link" href="{{url_for('contact')}}">Contact Information</a>
        </p>
    </section>
</section>
{%endblock%}
<!--Footer section-->
{%block footer%}{%include 'footer.html'%}{%endblock%}